[common]
bind_port = {{ frps.bind_port }}
vhost_http_port = {{ frps.vhost_http_port }}
token = {{ frps.token }}
subdomain_host = {{ frps.subdomain_host }}
custom_404_page = {{ frp.path }}/frp_{{ frp.version }}_linux_{{ arch }}/404.html
